[submodule "global_repository"]
	path = global_repository
	url = https://github.com/nightmare-space/global_repository
[submodule "settings"]
	path = settings
	url = https://github.com/nightmare-space/settings
